TODO: 
 Add the color theme changer button
 Date the task was added needs to be displayed
 Input is affecting the other grid


* {
	margin: 0;
  box-sizing: border-box;
}

:root {
	--primary-color: #0d0c1d;
	--secondary-color: #161b33;
}

html,
body {
	background-color: #f1dac4;
	font-family: "DotGothic16", sans-serif;
	padding: 20px 40px 20px 40px;
}

h1 {
	font-size: 50px;
}

h3 {
	font-size: 25px;
}

button {
  font-family: "DotGothic16", sans-serif;
  border: none;
  background-color: #f1dac4;
  font-size: 14px;
  cursor: pointer;
}

.container {
	display: grid;
	justify-content: center;
	grid-template-columns: 600px 1fr;
	margin-top: 50px;
}

.todo-container {
	display: grid;
	text-align: center;
	padding: 0px 20px 0px 0px;
}

.todo-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 10px;
  padding: 10px;

}

.number-task {
  display: flex;
  justify-content: start;
  font-size: 14px;
}

.filter {
  grid-column: 2;
  display: flex;
  gap: 3px;
  justify-content: center;
}

.clear-completed {
  grid-column: 3;
  justify-self: end;
}

.quote-container {
	display: grid;
	grid-template-rows: auto 1fr;
	border: 1px solid black;
}

/* APIs will be pulled from these two */
.date-content,
.quote-content {
	border: 1px solid black;
}



input {
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  font-size: 18px;
  color: black;
  padding: 5px;
  padding-left: 10px;
	font-family: "DotGothic16", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  padding: 12px 40px 12px 50px;
  position: relative;
  display: flex;
  justify-content: start;
}

/* before pseudo allows you to display the element before any action */
ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  background-image: url('/images/check_blanked.png');
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url('/images/checked.png');
}

ul li::after {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  background-image: url('/images/delete.png');
  background-size: cover;
  background-position: center;
  top: 12px;
  right: 8px;
}



.date {
  padding: 4px 4px 4px 10px;
}

.quote {
  padding: 10px;
}


