
* {
	margin: 0;
  box-sizing: border-box;
}

:root {
	--primary-color: #0d0c1d;
	--secondary-color: #161b33;
}

html,
body {
	background-color: #f1dac4;
	font-family: "DotGothic16", sans-serif;
	padding: 20px 40px 20px 40px;
}

h1 {
	font-size: 50px;
}

h3 {
	font-size: 25px;
}

button {
  font-family: "DotGothic16", sans-serif;
  border: none;
  background-color: #f1dac4;
  font-size: 14px;
  cursor: pointer;
}

.container {
	display: grid;
	justify-content: center;

  /* minmax prevents a column from affecting the other column */
	grid-template-columns: minmax(0, 600px) minmax(320px, 1fr);
	margin-top: 50px;

  /* prevents the left column from expanding and affecting right column */
  align-items: start;
}

.todo-container {
	display: grid;
	text-align: initial;
	padding: 0px 20px 0px 0px;
  min-width: 0;
}

.todo-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 10px;
  padding: 10px;
}

.number-task {
  display: flex;
  justify-content: start;
  font-size: 14px;
}

.filter {
  grid-column: 2;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.big-three, .clear-completed {
  border: 2px solid black;
  box-shadow: 5px 5px 0px #000000;
  padding: 4px 10px;
  transform: translate(0, 0);
  transition: transform 120ms ease, box-shadow 120ms ease;
}

.big-three:active, .clear-completed:active {
  box-shadow: 2px 2px 0px black;
  transform: translate(4px, 4px);
}

.big-three.is-active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px black;
}

.clear-completed {
  grid-column: 3;
  justify-self: end;
}

.quote-container {
	display: grid;
	grid-template-rows: auto 1fr;
  min-width: 0;
  border: 1px solid black;
}

/* APIs will be pulled from these two */
.date-content,
.quote-content {
	border: 1px solid black;
}

p.quote {
  font-style: bold;
  font-size: 20px;
  padding: 60px;
}



input {
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  font-size: 18px;
  color: black;
  padding: 5px;
  padding-left: 10px;
	font-family: "DotGothic16", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
  font-size: 20px;
  user-select: none;
  padding: 12px 40px 12px 50px;
  position: relative;
  display: flex;
  justify-content: start;
}

/* before pseudo allows you to display the element before any action */
.check-box {
  position: absolute;
  height: 28px;
  width: 28px;
  /* background-size: cover; */
  /* background-position: center; */
  top: 15px;
  left: 8px;
  cursor: pointer;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}


.delete-box {
  position: absolute;
  height: 28px;
  width: 28px;
  background-size: cover;
  background-position: center;
  top: 15px;
  right: 8px;
  cursor: pointer;
}


.date {
  padding: 4px 4px 4px 10px;
}

.quote {
  padding: 10px;
}


